{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Spell Checker -- Login
{%  endblock %}

{% block content %}
    <section>
        <h1 style="clear: both">View history - if admin enter username:</h1>

        <p id="numqueries">{{ result }}1</p>
        <p id="queryid">{{ result }}1</p>
        <p id="querytext">{{ result }}test test2 tes</p>
        <p id="queryresultys">{{ result }}tes</p>

       {% if admin %}
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.submit) }}
            </table>
        </form>
        {% endif %}
        <p id="numqueries">1</p>
        {% for book in qr %} 
        <li> {{book.query_number}} by {{book.results}} </li>
        <a href="{{url_for('history', book_id = book.query_number)}}"> 
        <p id="queryid">{{ book.query_number }}</p>
        <p id="username">{{ book.user_id }}</p>
        <p id="querytext">{{ book.text }}</p>
        <p id="queryresults">{{ book.results }}</p>
        </a>
        <p id="query{{ book.query_number }}">{{ book.query_number }}</p>
       
        {% endfor %}



    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
