{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Spell Checker -- Login
{%  endblock %}

{% block content %}
    <section>
        <h1 style="clear: both">Please login incorrect Two-Factor failure success </h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.uname, size=50) }}
                {{ render_field(form.pword, size=50) }}
                {{ render_field(form.p2fa, size=10) }}
                {{ render_field(form.remember_me) }}
                {{ render_field(form.submit) }}
                {{ render_field(form.result) }}
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
