{% extends "base.html" %}

{% block title %}
Login History -- Enter User Id
{%  endblock %}

{% block content %}
    <section>
        <h1>Enter User Id</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <article>
                <p>
                    Please enter user id: <input id="userid" type="text" name="userid">
                </p>

                <p>
                    <button type="submit">Submit</button>
                </p>
            </article>
        </form>

       {% if textout %}
	<h2>Entered text:</h2>
        <p id="login"{{ textout }}"_time"></p>
        <p id="logout"{{ textout }}"_time"></p>
        {% endif %}

        <p id="numqueries">1</p>
        {% for book in lr %} 
        <li> record_id: {{book.record_number}}</li>
        <p id="userid">{{ book.user_id }}</p>
        <p id="login{{ book.record_number }}">{{ book.record_number }}</p>
        <p id="login">{{ book.record_number }}</p>
        <p id="login_time">{{ book.time_on }}</p>
        <p id="login{{ book.record_number }}_time">{{ book.time_on }}</p>
        <p id="logout_time">{{ book.time_off }}</p>
        <p id="logout{{ book.record_number }}_time">{{ book.time_off }}</p>
      
        {% endfor %}




    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
