{% extends "base.html" %}

{% block title %}
Spell Checker -- Add Text
{%  endblock %}

{% block content %}
    <section>
        <h1>Enter Text</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <article>
                <p>
                    Please enter your text here: <input id="inputtext" type="text" name="inputtext">
                </p>

                <p>
                    <button type="submit">Submit</button>
                </p>
            </article>
        </form>

       {% if textout %}
	<h2>Entered text:</h2>
        <p id="textout">{{ textout }}</p>
        {% endif %}

       {% if misspelled %}
	<h2>Mispelled words:</h2>
        <p id="misspelled">{{ misspelled }}</p>
        {% endif %}


    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
