{% extends "base.html" %}

{% block title %}
Spell Checker -- Add Text
{%  endblock %}

{% block content %}
    <section>
        <h1>Enter Text</h1>
        <form action="" method="post">
            <article>
                <p>
                    Please enter your text here: <input id="inputtext" type="text" name="inputtext">
                </p>
                <p>
                    Output text: <input id="textout" type="text" name="textout">
                </p>
                <p>
                    Misspelled words: <input id="misspelled" type="text" name="misspelled">
                </p>

                <p>
                    <button type="submit">Submit</button>
                </p>
            </article>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
